@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
  display: flex;
  flex-direction: column; /* Ajusta según tu diseño */
  align-items: center; /* Ajusta según tu diseño */
  height: 100vh; /* Ajusta según tu diseño */
  background-image: url(./assets/v1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
}

.container-text{
  margin-top: 100px;
  text-align: center;
}

.container .main-text{
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}


.container .main-text .italic-main-text{
  font-style: italic;
  
}

.container .second-text{
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 90px;
  color: rgba(0, 255, 255, 0.918);
  text-shadow: 3px 4px 4px rgba(0, 255, 255, 0.872);
  position: relative;
  text-align: center;
  z-index: 1;
}

.container .second-text, .container .shadow{
  display: inline-block;
  margin: 0;
}


.container .shadow{
  font-family: "Montserrat",sans-serif;
  position: absolute;
  top: 5%;
  left: 160px;
  z-index: 0;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255); 
  color: transparent; 
  font-size: 90px; 
  letter-spacing: 1px;
}

.test{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
}

.oval-button {
  width: 400px;
  height: 60px;
  background-color: #000; 
  border-radius: 30px 30px 30px 30px; 
  position: fixed; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 999;
  border: 2px solid rgba(0, 255, 255, 0.872);
  box-shadow: 1px 1px 4px 2px rgba(153, 0, 255, 0.872);
}

.oval-button img{
  width: 150px;
  margin-top: 15px;
  margin-left: 30px;

}


/* ----------- ANIMATIONS ------------------- */


/* Spinner border de logo*/

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}


.oval-button {
  animation: spin 2.5s infinite linear ;
  
  background:
    linear-gradient(
        to bottom,
        oklch(0.1 0.2 240 / 0.95),
        oklch(0.1 0.2 240 / 0.95)
      )
      padding-box, /* ends at inner border edges */
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(0.85 0.37 0) 0 0
      )
      border-box; /* extends to outer border edges */
  
  border: 2px solid transparent;

  &:hover {
    animation-play-state: running;
  }
}


/* Avion de papel volando */

@-webkit-keyframes movimiento-diagonal {
  0% {
    left: -900px;
    transform: scaleX(-1) translateY(200px);;
  }
  50% {
    left: calc(49.50%);
    transform: scaleX(-1);
  }
  50.1% {
    left: calc(50% - 350px);
    transform: scaleX(1) translateY(0px);
  }
  100% {
    left: -100%;
    transform: scaleX(1) translateY(-500px);
  }
}

#derecha {
  animation-name: movimiento-diagonal;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*para que vuelva a su posicion inicial */
  z-index: 0;
  width: 10px;
  height: 10px;
  background-image: image("../img/segadon.png");
  color: #fff;
  position: relative;
}

#derecha img{
  width: 150px;
  opacity: 70%;
}


@media screen and (max-width: 767px) {
  .container-text {
    margin-top: 80px;
  }
  
  .container .main-text {
    font-size: 30px;
  }
  
  .container .second-text {
    font-size: 50px;
  }
  
  .container .shadow {
    font-size: 50px;
    left: 60px;
  }
  
  .oval-button {
    width: 60%; /* Ancho del óvalo en dispositivos móviles */
    max-width: 300px; /* Ancho máximo del óvalo en dispositivos móviles */
    height: 50px; /* Altura del óvalo en dispositivos móviles */
    border-radius: 25px; /* Bordes redondeados */
    bottom: 40px; /* Distancia desde la parte inferior en dispositivos móviles */
    font-size: 16px; /* Tamaño de fuente en dispositivos móviles */
  }
  
  .oval-button img {
    width: 80px; /* Tamaño de la imagen en dispositivos móviles */
    margin-top: 15px; /* Margen superior de la imagen en dispositivos móviles */
    margin-left: 20px; /* Margen izquierdo de la imagen en dispositivos móviles */
  }

  #derecha img{
    width: 100px;
  }

  
@keyframes movimiento-diagonal {
  0% {
    left: -900px;
    transform: scaleX(-1) translateY(200px);;
  }
  50% {
    left: calc(35%);
    transform: scaleX(-1);
  }
  50.1% {
    left: calc(20%);
    transform: scaleX(1) translateY(0px);
  }
  100% {
    left: -100%;
    transform: scaleX(1) translateY(-500px);
  }
}

}